.aboutMePage{
    background-color: whitesmoke;
}
.aboutMe{
    background-color: gold;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 35px;
    font-family: 'Modak', cursive;
    text-align: center;
}
.aboutMe:hover{
    letter-spacing: 10px;
    transition-duration: 1s;
}
.back{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 190px;
    padding-right: 190px;
    background-color: darkgray;
}
.profile{
    text-align: center;
    margin-bottom: 35px;
}
.profilePic{
    border: 4px solid gold;
}
.profilePic:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}
.intro{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
    line-height: 40px;
}
.footer{
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 8px;
    background-color: gold;
}
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Modak&display=swap");